name: Rust

on:
  push:
    branches: [ "master", "staging" ]
  pull_request:
    branches: [ "master", "staging" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        architecture: [x86_64, aarch64]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        name: Checkout code
      - uses: actions-rs/toolchain@v1
        name: Install Rust toolchain
        with:
          toolchain: stable
          target: ${{ matrix.architecture == 'aarch64' && (matrix.os == 'linux' && 'aarch64-unknown-linux-gnu' || matrix.os == 'windows' && 'aarch64-pc-windows-msvc' || 'aarch64-apple-darwin') || 'x86_64-unknown-linux-gnu' }}
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose --target ${{ matrix.architecture == 'aarch64' && (matrix.os == 'linux' && 'aarch64-unknown-linux-gnu' || matrix.os == 'windows' && 'aarch64-pc-windows-msvc' || 'aarch64-apple-darwin') || 'x86_64-unknown-linux-gnu' }}

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --target ${{ matrix.architecture == 'aarch64' && (matrix.os == 'linux' && 'aarch64-unknown-linux-gnu' || matrix.os == 'windows' && 'aarch64-pc-windows-msvc' || 'aarch64-apple-darwin') || 'x86_64-unknown-linux-gnu' }}

      - name: Upload build artifacts
        if: ${{ success() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ matrix.architecture }}-build
          path: |
            target/debug
            target/release