name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        architecture: [x86_64, aarch64]

    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: all

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.architecture }}-unknown-linux-gnu
        override: true

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose --target ${{ matrix.architecture }}-unknown-linux-gnu

    - name: Run tests
      run: cargo test --verbose --target ${{ matrix.architecture }}-unknown-linux-gnu
